@font-face {
    font-family: 'Montserrat';
    src: url('../vendor/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../vendor/montserrat/montserrat-regular-webfont.woff') format('woff');
}

body {
  background-image: url("../images/background.png");
  font-family: 'Montserrat', sans-serif;
}

textarea {
  background-color:#fafafa !important;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #008de4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}

label.btn.btn-primary.active {
  /* background-color: #286090; */
  background-color: #012060;
}

.createProposal {

}

i.fa {
  font-size: 1.5em;
  color: #999;
}

.header_title {
  color: #008de4;
  font-weight: 600;
  margin: 0;
}

.header_description {
  margin: 1% 0% 5% 0%;
  font-weight: 300;
  line-height:1.5em;
}

.input-spacing {
  margin: 5%;
}

.progress {
  margin-top: 10px;
}

.tab-content {
  margin-top:40px;
  margin-bottom: 80px;
}

.proposalBlock {
  padding: 5% 5% 2% 5%;
  background-color: #ffffff;
  box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.16);
}

.removeMargin {
  margin: 0;
}

.validationError {
  background-color:#ffe6e6;
}

.walletCommands {

}

#dash_logo {
  width: 150px;
  height: auto;
}

#header {
  margin-top:2em;
}

/*#createProposalHeader {
   margin-top:1em;
}*/

#createProposalForm {
   margin-top:1em;
}

#lang_box {
  width: 82px;
  position: relative;
  top: -4px;
}

#payment_amount {
  display: inline-block;
  width: 20%;
}

#side-header {
  margin-top: 40%;
}

#side_header_description {
  margin: 20% 0% 20% 0%;
}

#proposal_link {
  font-weight: 600;
}

@media (max-width: 992px) {
  #side-header {
    margin-top: 4%;
  }

  .proposalBlock {
    margin-top: 0%;
  }

  .header_description {
    margin: 1% 0% 1% 0%;
  }

  #side_header_description {
    margin: 1% 0% 1% 0%;
  }
}

#walletCommandsHeader {
  margin-top:2em;
}

#walletCommandsPrepare {
  margin-top:2em;
}

#walletCommandsTx {
  margin-top:2em;
}

#walletCommandsProgress {
  margin-top:2em;
}

#walletCommandsSubmit {
  margin-top:2em;
}
.nav>li.active>a {
  border-radius: 4px;
  border: 0px solid;
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  min-height: 40px;
  display: inline-block;
  font-weight: 300;
  font-size: 1.3em;
  background-color: #008de4;
  color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08), 0px 4px 6px 0px rgba(49,49,93,0.13);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.nav>li.active>a:hover{
  background-color: #008de4;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
}
.btn{
  font-weight: 300;
  background-color: #008de4;
  color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08), 0px 4px 6px 0px rgba(49,49,93,0.13);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 0;
}

.btn:hover,.btn:active,.btn:focus{
  background-color: #008de4;
  color: #fff !important;
}

.btn-success{
  line-height: 30px;
  min-height: 40px;
  display: inline-block;
  font-weight: 300;
  font-size: 1em;
}

.btn-success:hover,.btn-success:active,.btn-success:focus{
  background-color: #008de4;
  color: #fff !important;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
  border: 0;
}

a {
  color: #008de4;
  text-decoration: none;
  font-weight: 300;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:visited {
  color: #008de4;
}

a:hover {
  color: #012060;
  text-decoration: none;
}
